
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h1>Vagas</h1>
    <br />
    <row class="row">
        <div class="col-sm-3">
            <a class="btn btn-primary" href="~/api/Vaga/Vagas" role="button">
                Listar Vagas
            </a>
        </div>
        <div class="col-sm-3">
            <a class="btn btn-primary" href="~/api/Vaga/VagasLivre" role="button">
                Listar Vagas Livres
            </a>
        </div>
        <div class="col-sm-3">
            <a class="btn btn-primary" href="~/api/Vaga/VagaStatus/1" role="button">
                Consultar Vaga
            </a>
        </div>

    </row>
</div>

